.*
!.coveragerc
!.env
!.pylintrc

venv/
.git
.vscode/
static/
node_modules/
.idea/
.ipython/
__pycache__/

.git/

build
dist
*.egg-info
*.egg/
*.swp
**/*.pyc

.tox
.coverage
html/*

# Compiled Documentation
docs/_build

**/__pycache__
**/*.pyc

*.ann
*.pkl
*.parquet
neural/data/*
neural/dataset/*
neural/models/*