[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
odmantic = "*"
requests = "*"
typer = "*"
aiofiles = "*"
iopath = "*"
python-multipart = "*"

[dev-packages]
pytest-asyncio = "*"
httpx = "*"

[requires]
python_version = "3.8"

[packages]
pydantic = {extras = [ "dotenv",]}
